<section class="book-section">
    <div class="grid-wrapper">
        <div class="grid-container">
            
                <% books.forEach(book=>{ %>
                    <div class="grid-item">
                        <div class="content">
                            <div><%=book.title%></div>
                        <% authors.forEach(author=>{    %>
                        <%    if (author.id === book.author.id) {   %>
                        
                                <div><%=author.name%></div>
                        <%    } %>
                        <% }); %>
            <!-- 
                        <div><%=book.isbn%></div>
                        <div><%=book.description%></div>
                        <div><%=book.publisher%></div>
                        <div><%=book.yearOfPublication%></div>
                        <div><%=book.coverImage%></div>
                            -->
                        </div>
                    </div>
                <% }); %>
            
        </div>
    </div>
</section>