<section class="book-section">
    <div class="book-container">
        <% books.forEach(book=>{ %>
            <div class="book-row">
                <div class="row">
                    <div class="col-2 book title"><%=book.title%></div>
                    
    
                    <% authors.forEach(author=>{    %>
                    <%    if (author.id === book.author.id) {   %>
                    
                            <div class="col-2 book author"><%=author.name%></div>
                    <%    } %>
                    <% }); %>
    
                    <div class="col-1 book isbn"><%=book.isbn%></div>
                    <div class="col-2 book description"><%=book.description%></div>
                    <div class="col-2 book publisher"><%=book.publisher%></div>
                    <div class="col-1 book year-of-publication"><%=book.yearOfPublication%></div>
                    <div class="col-2 book cover"><%=book.picture%></div>
                </div>
            </div>
            
          <% }); %>
    </div>
</section>