<%- include('partials/header') %> 
<%- include('partials/navbar') %>

<div class="greetings">
  <h3>Hello, <i><%=userName%></i></h3>
  <!--<form action="/" method="GET">
    <button type="submit" >Test home</button>
  </form>-->
</div>

<div class="row">
  <div class="col-12">
    <div class="search-bar">
      <% if (isAuthenticated) { %>
      <button class="add-books-button btn btn-dark btn-outline-info">
        Add a book, now!
      </button>
      <% } %>
      <div class="float-right">
        <input
          class="search-input"
          type="text"
          name="search"
          placeholder="Search"
        />
        <button class="btn btn-dark search-btn" type="submit">Search</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="filter-btn-title" class="col-2 book filter-btn">
      <button class="btn btn-dark">title</button>
    </div>
    <div id="filter-btn-author" class="col-2 book filter-btn">
      <button class="btn btn-dark">author</button>
    </div>
    <div id="filter-btn-isbn" class="col-1 book filter-btn">
      <button class="btn btn-dark">isbn</button>
    </div>
    <div class="col-2 book">description</div>
    <div class="col-2 book">publisher</div>
    <div class="col-1 book">year of publication</div>
    <div class="col-2 book">cover</div>
  </div>
  <hr />

  <% if (isAuthenticated) { %>
  <hr />
  <div id="add-book" style="display: none">
    <form action="/books" enctype="multipart/form-data" method="post">
      <label for="title">title</label>
      <input type="text" class="form-control" name="title" required />
      <label for="author">author</label>
      <input type="text" class="form-control" name="author" required />
      <label for="isbn">isbn</label>
      <input type="number" class="form-control" name="isbn" required />
      <label for="description">description</label>
      <input type="text" class="form-control" name="description" required />
      <label for="publisher">publisher</label>
      <input type="text" class="form-control" name="publisher" required />
      <label for="yearOfPublication">year of publication</label>
      <input type="number" class="form-control" name="yearOfPublication" required />
      <label for="coverImage">cover</label>
      <input type="file" class="from-control" name="coverImage" />
      <hr />

      <button class="btn btn-dark" type="submit" style="margin: 0.5%">
        Add a book
      </button>
    </form>
  </div>
  <% } %> <%- include('partials/render-books') %>
</div>
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>

<script type="text/javascript" src="scripts/search.js"></script>
<script type="text/javascript" src="scripts/filter.js"></script>
<% if (isAuthenticated) { %>
<script type="text/javascript" src="scripts/addBook.js"></script>
<% } %>

<%- include('partials/footer') %>
