<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Books:ME</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="css/book-page.css">
</head>

<body>

<%- include('partials/navbar') %>

<!-- ugh, I'm afraid it wouldn't work any other way -->
<% const pathToCover = '../' +  book.coverImage.replace(/\\/g, '/'); %>

  <div class="book-card-wrapper">
    <div class="cover" style="background: url(<%=pathToCover%>) no-repeat center center; background-size: cover;">
      </div>
      <div class="info-wrapper">

        <div class="info-group">
          <div class="title"><%= book.title %></div>        
        </div>

        <div class="info-group">
        <div class="author">by <%= book.author.name %></div>
        <div class="genre">genre: <%= book.genre %></div>
        <div class="yearOfPublication">published: <%= book.yearOfPublication %></div>
      </div>

        <div class="info-group">
          <div class="averageRating" style="display: inline;">rating: <%= book.averageRating % 1 === 0 ? book.averageRating : book.averageRating.toFixed(2) %></div>
          <div class="numberOfReviews" style="display: inline;">reviews: <%= book.numberOfReviews %></div>
        </div>

      </div>
    </div>
    <div class="info-group desc">
      <div class="description"><%= book.description %></div>
    </div>
  </div>

  <div class="reviews-wrapper">
    <h2>REVIEWS</h2>
  </div>
  <div class="grid-wrapper">
    <div class="grid-container">
      <!-- this is where the reviews will go -->
      <!-- loader will fill this up -->
    </div>
  </div>

  <hr>
  <footer class="container">
    <p>&copy; <i>ME:</i>Books</p>
  </footer>
  
<script type="text/javascript" src="../public/scripts/loadReviews.js"></script>
<%- include('partials/footer') %>