<%- include('partials/header') %> 
<%- include('partials/navbar') %>

<div class="greetings">
  <h3>Hello, <i><%=userName%></i></h3>
</div>

<div class="row">
  <div class="col-12">
    <div class="search-bar">
      <% if (isAuthenticated) { %>
      <button class="add-books-button btn btn-danger">
        Add a book, now!
      </button>
      <% } %>
      <div class="float-right">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-3" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <!-- <button class="btn btn-dark search-btn" type="submit">Search</button> -->
      </div>
    </div>
  </div>
</div>

<div class="container">
  
  <hr />

  <% if (isAuthenticated) { %>
  <hr />
  <div id="add-book" style="display: none">
    <form action="/books" enctype="multipart/form-data" method="post">
      <label for="title">title</label>
      <input type="text" class="form-control" name="title" required />
      <label for="author">author</label>
      <input type="text" class="form-control" name="author" required />
      <label for="genre">genre</label>
      <input type="text" class="form-control" name="genre" required />
      <label for="description">description</label>
      <textarea type="text" class="form-control" name="description" required></textarea>
      <label for="yearOfPublication">year of publication</label>
      <input type="number" class="form-control" name="yearOfPublication" required />
      <label for="coverImage">cover</label>
      <input type="file" class="from-control" name="coverImage" style="display: block;" />
      <hr />

      <button class="btn btn-danger" type="submit" style="margin: 0.5%">
        Add a book
      </button>
    </form>
  </div>
  <hr />
  <% } %> <%- include('partials/render-books') %>
</div>

<hr>
<footer class="container">
  <p>&copy; <i>ME:</i>Books</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<% if (isAuthenticated) { %>
<script type="text/javascript" src="scripts/addBook.js"></script>
<% } %>
<script type="text/javascript" src="scripts/loadBooks.js"></script>
<%- include('partials/footer') %>
