<%- include('partials/header') %> 
<%- include('partials/navbar') %>

<div class="greetings">
  <h3>Hello, <i><%=userName%></i></h3>
</div>


<section id="search">
  <div class="search-bar">
    <div class="search-box">
      <div class="form-inline my-2 my-lg-0">
        <input id="search-input" class="form-control mr-sm-3" type="text" placeholder="GO GO" aria-label="GO GO">
        <button id="search-btn" class="btn btn-secondary my-2 my-sm-0">Search</button>
        <!-- ↑ ↓ -->
        <!-- <button class="btn btn-danger sort-btn"><i>↑ A</i></button> -->
        <% if (isAuthenticated) { %>
          <button id="add-book-button" class="btn btn-danger">
            Add a book, now!
          </button>
          <% } %>
      </div>
      <!-- <button class="btn btn-dark search-btn" type="submit">Search</button> -->
    </div>
    
  </div>
</section>


<div class="container">
  
  <hr />

  <% if (isAuthenticated) { %>
  <hr />
  <div id="add-book" style="display: none">
    <form action="/books" enctype="multipart/form-data" method="post">
      <label for="title">title</label>
      <input type="text" class="form-control empty-me" name="title" required />
      <label for="author">author</label>
      <input type="text" class="form-control empty-me" name="author" required />
      <label for="genre">genre</label>
      <input type="text" class="form-control empty-me" name="genre" required />
      <label for="description">description</label>
      <textarea type="text" class="form-control empty-me" name="description" required></textarea>
      <label for="yearOfPublication">year of publication</label>
      <input type="number" class="form-control empty-me" name="yearOfPublication" required />
      <label for="coverImage">cover</label>
      <input type="file" class="from-control empty-me" name="coverImage" style="display: block;" />
      <hr />

      <button class="btn btn-danger" type="submit" style="margin: 0.5%">
        Add a book
      </button>
    </form>
  </div>
  <hr />
  <% } %> <%- include('partials/render-books') %>
</div>

<hr>
<footer class="container">
  <p>&copy; <i>ME:</i>Books</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<% if (isAuthenticated) { %>
<script type="text/javascript" src="scripts/addBook.js"></script>
<% } %>
<script type="text/javascript" src="scripts/loadBooks.js"></script>
<%- include('partials/footer') %>
