<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title><%= review.book.title %> review -  Books:ME</title>

  <link rel="icon" sizes="180x180" href="/images/favicon/favicon.ico">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="css/review.css">
</head>

<body>
  <%- include('partials/navbar') %>

  <div id="review-wrapper">
    <div class="flex-container">
      <div id="title">
        <form action="/books/<%= review.book._id %>" method="GET">
          <h2 onClick="javascript:this.parentElement.submit();" style="display: inline-block;"><%= review.book.title %></h2>
        </form>
        <!-- ownership -->
        <!-- don't want to install font-awesome package -->
        <!-- <button id="edit-btn" class="btn btn-dark">Edit <i class="fa fa-pencil-square-o"></i></button> -->
        <% if (ownership) { %> 
          <button id="edit-btn" class="btn btn-dark">Edit, now!</button>
        <% } %>
      </div>
      
      
  
      <hr>
      <% date = new Date(review.timestamp).getDate().toString();
      month = new Date(review.timestamp).getMonth().toString();
      year = new Date(review.timestamp).getFullYear().toString(); 
      
      formattedTimestampString = `${date}/${month}/${year}`;
      %>

      <div id="read-review">
        <p><b>review</b>: <%= review.rev %></p>
        <p><b>rating</b>: <%= review.rating %></p>
      </div>

      <!-- <form enctype="application/json" id="edit-review" action="/reviews/<%= review._id %>" method="PATCH" style="display: none;">
        <label class="edit" for="reviewEdit"><b>review</b>:</label>
        <textarea class="edit" name="reviewEdit" cols="50" rows="10" placeholder="<%= review.rev %>" style="display: block;"></textarea>
        <label class="edit" for="ratingEdit" style="display: block;"><b>rating:</b></label>
        <input class="edit" type="number" name="ratingEdit" min="1" max="5" style="display: block;">
        <button class="btn btn-dark" type="submit" style="margin: 0.5rem 0;">Looks good</button>
      </form> -->

      <div id="edit-review" style="display: none;">
        <input type="text" name="reviewID" value="<%= review._id %>" hidden>
        
        <label class="edit" for="reviewEdit"><b>review</b>:</label>
        <textarea class="edit" name="reviewEdit" cols="50" rows="10" placeholder="<%= review.rev %>" style="display: block;"></textarea>
        <label class="edit" for="ratingEdit" style="display: block;"><b>rating:</b></label>
        <input class="edit" type="number" name="ratingEdit" min="1" max="5" style="display: block;">
        <button id="confirm-edit-btn" class="btn btn-dark" type="submit" style="margin: 0.5rem 0;">Looks good</button>
      </div>
      

      <p><b>created</b>: <%= formattedTimestampString %></p>
      <p>by <%= review.user.username %></p>

    </div>
  </div> 

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <% if (ownership) { %>
    <script src="scripts/editReview.js"></script>
  <% } %> 
  <%- include('partials/footer') %>