<%- include('partials/header') %>
<%- include('partials/navbar-member') %>

<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><i>ME:</i>Reviewer</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <div>
        <form action="/reviews4members" method="post">
          <div>
            <div>
              <label for="re">Book</label>

              <div>
                <select name="re">
                  <% books.forEach(book=>{ %>
                    <option value="<%=book.title%>"><%=book.title%></option>
                  <% }); %>
                </select>
              </div>
              <div>
                <label for="review">Review:</label>
              </div>
            </div>
            <textarea name="review" cols="100" rows="6" placeholder="Write your review here, peasant!"></textarea>
          </div>
          <label for="rating">Rating: </label>
          <input type="number" name="rating" placeholder="1-5">
          <div>
            <button class="btn btn-dark" type="submit">Post the review</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row">

    <% reviews.forEach(review=>{ %>
      <div class="col-md-4">
        <h2><%=review.book.title%></h2>
        <p><%=review.rev%></p>
        <p><%=review.user%></p>
      </div>
    <% }); %>
    </div>

    <hr>

  </div>

</main>

<footer class="container">
  <p>&copy; <i>ME:</i>Reviews</p>
</footer>

<%- include('partials/footer') %>