<%- include('partials/header') %>
<%- include('partials/navbar-not-member') %>


<div id="wrapper">
  <main role="main">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">User reviews</h1>
        <p>This is where we give writers a firm kick in the nuts for being a bunch of talentless bums! (~This gives meaning to my life~)</p>        
      </div>
    </div>
  
    <hr>
  
    <div class="container">
      <div class="row">
  
      <% reviews.forEach(review=>{ %>
        <div class="col-md-4">
          <h2><%=review.book.title%></h2>
          <p><%=review.rev%></p>
          <p><%=review.user%></p>
        </div>
      <% }); %>
      </div>
  
      <hr>
  
    </div>
  
  </main>
  
  <footer class="container">
    <p>&copy; Books:<i>ME</i>></p>
  </footer>
</div>


<%- include('partials/footer') %>