<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Books:ME</title>

  <link rel="icon" sizes="180x180" href="/images/favicon/favicon.ico">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>

<%- include('partials/navbar') %>
<link rel="stylesheet" href="css/userReviews.css" />

<div class="greetings">
  <h3>Hello, <i><%= user.username %></i></h3>
</div>

<hr />

<div id="flex-wrapper">
  <div id="flex-container">
    <!-- this is where the user reviews load in -->
    <% reviews.forEach(review=>{ %>

      <% date = new Date(review.timestamp).getDate().toString();
      month = new Date(review.timestamp).getMonth().toString();
      year = new Date(review.timestamp).getFullYear().toString(); 
      
      formattedTimestampString = `${date}/${month}/${year}`;
      %> 

    <div name="<%= review._id %>">
      <form action="/books/<%= review.book._id %>" method="GET" class="review">
        <h2 onClick="javascript:this.parentElement.submit();"><%= review.book.title %> - [ <%= review.rating %> ]</h2>
      </form>
	  <% if (review.rev.length >= 100) { %>
	  <% let str = `${review.rev.substr(0,99)} ...`; %>
      <p><%= str %></p>
      <% } else { %>
      <p><%= review.rev %></p>
      <% } %>
    <p><%= formattedTimestampString %></p>
    
    <button class="btn btn-danger deletion-btn">Delete</button>
    <button class="btn btn-dark cancel-btn" style="display: none;">X</button>
    <form action="/reviews/<%= review._id %>" method="GET" class="review" style="display: inline;">
      <button onClick="javascript:this.parentElement.submit();" class="btn btn-dark update-btn">Update</button>
    </form>
    <% }); %>
  </div>
</div>

<hr />
<footer class="container">
  <p>&copy; <i>ME:</i>Books</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script type="text/javascript" src="scripts/userReviews.js"></script>
<%- include('partials/footer') %>
