<%- include('partials/header') %> <%- include('partials/navbar') %>
<link rel="stylesheet" href="css/userReviews.css" />

<div class="greetings">
  <h3>Hello, <i><%= user.username %></i></h3>
</div>

<hr />

<div id="flex-wrapper">
  <div id="flex-container">
    <!-- this is where the user reviews load in -->
    <% reviews.forEach(review=>{ %>

      <% date = new Date(review.timestamp).getDate().toString();
      month = new Date(review.timestamp).getMonth().toString();
      year = new Date(review.timestamp).getFullYear().toString(); 
      
      formattedTimestampString = `${date}/${month}/${year}`;
      %> 

    <div class="review" name="<%= review._id %>">
      <h2><%= review.book.title %> - [ <%= review.rating %> ]</h2>
	  <% if (review.rev.length >= 100) { %>
	  <% let str = `${review.rev.substr(0,99)} ...`; %>
      <p><%= str %></p>
      <% } else { %>
      <p><%= review.rev %></p>
      <% } %>
    <p><%= review.user %> - <%= formattedTimestampString %></p>
    
    <button class="btn btn-danger deletion-btn">Delete</button>
    <button class="btn btn-dark cancel-btn" style="display: none;">X</button>
    <button class="btn btn-dark update-btn">Update</button>

    </div>
    <% }); %>
  </div>
</div>

<hr />
<footer class="container">
  <p>&copy; <i>ME:</i>Books</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script type="text/javascript" src="scripts/userReviews.js"></script>
<%- include('partials/footer') %>
